{% extends 'flick/base.html' %}

{% block title %}
<title>About Us</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h1>FlicK</h1>
    <p>
        Here in this site, you're gonna put all creativity and write posts. The posts we mean is to INSPIRE or RAGE
        someone who feels it the same way you are and you're not afraid to say that.
        Every post you're posting, makes you feel good about yourself. You can add tasks to your ToDo List whisch is
        specific for everyone.
    </p>
    <p>
        We DON'T want anyone to give their original credentials here. This site may contain some BUGS as it's still in
        developing phase. Please consider this as a disclaimer.
    </p>
    <p>
        We are so sorry that we disabled the sharing and messaging feature. This is just a Beta version as we've
        mentioned earlier. We are still working on to develop more features which makes this website a complete
        user-friendly one like any other social media platforms.
    </p>
    <p>This site is created on the basis of Corey Schafer Django series and we've also added some additional features in
        additional to what we see in the lecture series. We truly suggest you to go through those videos
        to gain more knowledge about creating the websites like this.</p>
    <p>You can click on the button below which can take you to the Corey Scafer's Django Tutorial series. Trust me this
        is
        the best series to learn Django on Earth "till now i.e, 30th July 2020".
        <a style="display: inline-block;" target="_blank" class="btn btn-sm btn-secondary mt-1 mb-1"
            href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p">Corry Schafer -
            Django
        </a>
    </p>
    <p>
        If you really want us add some features that you like... Please contact us and let us know...
    </p>
</div>
{% endblock content %}